:root {
}

.menuButton {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 75px;
    -unity-font-definition: url("project://database/Assets/_Game/Prefabs/UI/Fonts/bedstead.otf?fileID=12800000&guid=5c670b434ca74524386dd732ddcb8661&type=3#bedstead");
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
}

.settingsTab {
    flex-grow: 1;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/_Game/Prefabs/UI/Fonts/bedstead.otf?fileID=12800000&guid=5c670b434ca74524386dd732ddcb8661&type=3#bedstead");
    background-color: rgb(251, 184, 0);
    color: rgb(0, 0, 0);
}

.resetToDefaultButton {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
    font-size: 20px;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/_Game/Prefabs/UI/Fonts/bedstead.otf?fileID=12800000&guid=5c670b434ca74524386dd732ddcb8661&type=3#bedstead");
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    width: 216px;
}

.menuButton:hover {
    background-color: rgba(0, 0, 0, 0.78);
}

.settingsTab:hover {
    background-color: rgb(251, 151, 0);
}

.resetToDefaultButton:hover {
    background-color: rgba(36, 36, 36, 0.78);
}

.CloseSettingsButton {
}

.CloseSettingsButton:hover {
    background-color: rgb(144, 0, 0);
}

.RespawnButton {
}

.RespawnButton:hover {
    background-color: rgb(115, 0, 0);
}

.rollNextButton {
}

.rollNextButton:hover {
    color: rgb(94, 94, 94);
}
